<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>
    <% if (errors) { %>
      <ul>
     <% errors.array().forEach(error => { %>
       <li><%= error.msg %></li>
    <%  }) %>
     </ul>
    <% } %>

    <div>
      <form action="/inv/update" method="post">
        <div>
          <div >
            <h2>Update Vehicle</h2>
            
          </div>
          <div>
            <span>* Required</span>

            <div>
              <label>
                  <span>Classification</span><span>*</span>
                  <% if(classificationSelect) { %>
                   <%- classificationSelect %>
                  <% } %>
              </label>
            </div>

            <div>
              <label>
                  <span>Make:</span><span>Required*</span>
                  <input type="text" name="inv_make"value="<%= locals.inv_make %>" pattern="[A-Za-z ]{3,20}" >
              </label>
            </div>

            <div>
              <label>
                  <span>Model:</span><span>Required*</span>
                  <input type="text" name="inv_model" value="<%= locals.inv_model %>" pattern="[A-Za-z ]{3,20}">
              </label>
            </div>

            <div>
              <label>
                  <span>Year:</span><span>Required*</span>
                  <input type="text" name="inv_year"value="<%= locals.inv_year %>" pattern="19[\d]{2}|20\d{2}">
              </label>
            </div>

            <div>
              <label>
                  <span>Description:</span><span>Required*</span>
                  <textarea rows="4" cols="80" name="inv_description"><%= locals.inv_description %></textarea>
              </label>
            </div>

            <div>
              <label>
                  <span>Image:</span><span>Required*</span>
                  <input type="text" name="inv_image"value="<%= locals.inv_image %>">
              </label>
            </div>

            <div>
              <label>
                  <span>Thumbnail:</span><span>*</span>
                  <input type="text" name="inv_thumbnail"value="<%= locals.inv_thumbnail %>">
              </label>
            </div>

            <div>
              <label>
                  <span>Price:</span><span>*</span>
                  <input type="text" name="inv_price"value="<%= locals.inv_price %>" pattern="\d{4,6}">
              </label>
            </div>

            <div>
              <label>
                  <span>Milage:</span><span>*</span>
                  <input type="text" name="inv_miles"value="<%= locals.inv_miles %>" pattern="\d{1,6}">
              </label>
            </div>

            <div>
              <label>
                  <span>Color:</span><span>*</span>
                  <input type="text" name="inv_color"value="<%= locals.inv_color %>" pattern=".{3,100}">
              </label>
            </div>

            <div>
                <input id="submitButton" type="submit" name="submit" value="Update Vehicle">
            </div>
          </div>
          <div>
            <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>>
          </div>
        </div>
        </form>
      </div>
