<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>
    <% if (errors) { %>
      <ul>
     <% errors.array().forEach(error => { %>
       <li><%= error.msg %></li>
    <%  }) %>
     </ul>
    <% } %>

    <div>
      <form action="/view/update" method="post">
        <div>
          <div>
            <h2>Update view</h2>
          </div>
          <div>
            <span>Required*</span>
            <div>
              <label>
                  <span>Comment:</span><span>Required*</span>
                  <input type="text" name="view_comment" required value="<%= locals.view_comment %>" >
              </label>
            </div>
             <div>
                <input  type="submit" name="submit" value="Update Vehicle">
            </div>
          </div>
          <div>
            <input type="hidden" name="view_id"
            <% if(view_id) { %> value="<%= view_id %>"
            <% } %>>
          </div>
        </div>
        </form>
      </div>
